:host {

  height: 100%;
  display: block;

  ::ng-deep {
    router-outlet ~ * {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      background: white;
      box-shadow: 0 0 10px black;
    }
  }
}

main {
  height: 100%;
}
