<pg-navigation-menu [(closed)]=showMenu (click)=toggleMenu()>
  <div class="menu-title">Menu</div>
  <pg-navigation-item label="Home" route=""></pg-navigation-item>
  <pg-navigation-item label="Cat Grid" route="grid"></pg-navigation-item>
  <pg-navigation-item label="Drag and Drop" route="grid/drag-and-drop"></pg-navigation-item>
</pg-navigation-menu>
<div class="navbar">
  <img (click)=toggleMenu() src="https://cataas.com/cat/hat"> NG Playground
  <div style="flex-grow: 1;"></div>
  <a href="https://github.com/corwinm/angular-playground" target="_blank">
    <img src="assets/GitHub-Mark-Light-64px.png" alt="github">
  </a>
</div>
<div class="content-wrapper">
  <ng-content></ng-content>
</div>
