<div class="grid-container">
  <div class="item">
    <img src="https://cataas.com/cat/hat">
  </div>
  <div class="item">
    <img src="https://cataas.com/cat">
  </div>
  <div class="item">
    <img src="https://cataas.com/cat/cute">
  </div>
  <div class="item">
    <img src="https://cataas.com/cat/cute">
  </div>
  <div class="item">
    <img src="https://cataas.com/cat/cute">
  </div>
  <div class="item">
    <img src="https://cataas.com/cat/cute">
  </div>
  <div class="item">
    <img src="https://cataas.com/cat/cute">
  </div>
</div>
