:host > div {
  position: fixed;
  height: 100vh;
  width: calc(100vw + 300px);
  top: 0;
  bottom: 0;
  z-index: 12;
  display: grid;
  grid-template-columns: 300px 1fr;

  .menu {
    background-color: #1278ca;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .shadow {
    background: rgba(255, 255,255, .8);
  }
}
