@import 'layout.mixins';

$navbar-small-height: 30px;
$navbar-large-height: 50px;
$navbar-padding: 8px;

.navbar {
  background-color: #1278ca;
  padding: $navbar-padding 10px;
  font-size: 30px;
  width: calc(100vw - 20px);
  box-shadow: 0 0 5px black;
  z-index: 10;
  position: fixed;
  height: $navbar-small-height;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;

  > pg-navigation-button {
    height: 60%;
    margin: 0 8px 0 16px;
    transition: 200ms ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  pg-navigation-back {
    display: none;
  }

  a {
    height: 80%;

    img {
      height: 100%;
      display: block;
    }
  }
}

.menu-title {
  padding: 8px 10px;
  font-size: 36px;
  box-shadow: 0 0 5px black;
}

.content-wrapper {
  padding-top: $navbar-small-height + $navbar-padding * 2;
  position: relative;
  min-height: calc(100% - ($navbar-small-height + $navbar-padding * 2));
  height: auto !important;
  max-width: 100%;
  margin: 0;
  z-index: 1;
  background-color: rgb(250,250,250);
}

@include bp-tablet-min() {
  .navbar {
    position: absolute;
    background: transparent;
    height: $navbar-large-height;
    box-shadow: none;
  }
  .content-wrapper {
    padding-top: 0;
  }
}

.install-btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  background: #fafafa;
  cursor: pointer;
  transition: background-color 200ms ease-in;

  &:hover {
    background: #9b9b9b;
  }
}

.version-label {
  text-align: center;
  font-size: 12px;
  padding: 4px;
}
