:host > div {
  position: fixed;
  height: 100vh;
  width: calc(100vw + 300px);
  top: 0;
  bottom: 0;
  z-index: 12;
  background: rgba(255, 255,255, .8);
  display: grid;
  grid-template-columns: 300px 1fr;

  .menu {
    background-color: #2196f3;
    overflow: hidden;
    height: 100%;
  }
}
