@import '../layout.mixins';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.spash {
  max-height: 80vh;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: calc(100vw * 5/8);
  }

  p {
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
  }
}

section:not(.spash) {
  padding: 10px;
  background: white;
  color: black;
  margin: 20px;
  box-shadow: 0 0 3px black;
}

footer {
  padding: 10px;
  background: rgba(0,0,0,0.2);

  a {
    text-decoration: none;
  }
}

@include bp-tablet-min {
  :host:before {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, transparent 40%, black 120%);
    margin-bottom: -80px;
    height: 80px;
    width: 100%;
    content: '';
  }
}
