<div class="parallax">

<section class="spash">
  <p>
    Welcome to my Angular playground.
    <span *ngIf=installed>Thank you for installing my sample app!</span>
  </p>
</section>
<section [style.text-align]="'center'">
  I use this place to test out web technologies with a focus on Angular 2+
</section>
<section class="detail-row">
  <div>
    <img src="assets/angular.png" alt="Angular">
    <h2>Angular</h2>
    <p>
      Built using the Angular Framework.
    </p>
  </div>
  <div>
    <img src="assets/vscode.png" alt="VSCode">
    <h2>VS Code</h2>
    <p>
      Developed with VS Code.
    </p>
  </div>
  <div>
    <img src="assets/GitHub-Mark-Light-64px.png" alt="github">
    <h2>GitHub Pages</h2>
    <p>
      Hosted on GitHub using GitHub Pages.
    </p>
  </div>
</section>
<div style="flex: 1"></div>
<footer>
  <p>
    Check out our
    <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=688b65623c299266e14006b91c9c834c" target="_blank" rel="noopener">
      💡Lighthouse score 🏠
    </a>
  </p>
  <p>
    Special thanks to
    <a href="https://cataas.com/#/" target="_blank" rel="noopener">
      Cataas 😻
    </a>
  </p>
  <p>
    <img [src]="codeBuildUrl" alt="Code Build Status">
  </p>
</footer>

</div>
