:host {
  display: flex;
  min-height: calc(100vh - 64px);
  flex-direction: column;
}

.spash {
  max-height: 80vh;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }

  p {
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
  }
}

section:not(.spash) {
  padding: 10px;
  background: white;
  color: black;
  margin: 20px;
  box-shadow: 0 0 3px black;
}

footer {
  padding: 10px;

  a {
    text-decoration: none;
  }
}
